# ======================
# Python
# ======================
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.coverage

# ======================
# Virtual Environments
# ======================
.venv/
venv/
env/
**/.venv/

# ======================
# Environment Files
# ======================
.env
**/.env

# ======================
# Node
# ======================
node_modules/
npm-debug.log*

# ======================
# Build
# ======================
build/
dist/
coverage/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db